@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');

.font-fredoka {
  font-family: 'Fredoka', sans-serif;
}

@import "tailwindcss";

/* Evitar zoom en inputs en iOS */
.no-zoom-input,
input,
textarea,
select {
  font-size: 16px;
}

/* Fondo global y color de texto */
html,
body {
  background-color: #FBF7F1;
  color: #343434;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}