@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600;700&display=swap');

.font-fredoka {
  font-family: 'Fredoka', sans-serif;
}
@import "tailwindcss";

/* Evitar zoom en inputs en iOS */
input,
textarea,
select {
  font-size: 16px;
}


html, body {
  overflow: hidden !important;
  height: 100%;
  width: 100%;
}